.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.box {
  background-color: #ccc;
}

@media (min-width: 768px) { /* Tablet devices */
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) { /* Desktop devices */
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1440px) { /* Large desktop devices */
  .container {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 767px) { /* Mobile devices */
  .box {
    width: 80%;
    margin: 0 auto 10px auto;
  }
}
.containers {
  height: 100vh; /* Set height to full viewport height */
  background-color: red; /* Default background color for desktop */

  /* Tablet styles */
  @media screen and (max-width: 1024px) {
    background-color: green;
  }

  /* Mobile styles */
  @media screen and (max-width: 767px) {
    background-color: yellow;
  }
}

