.div1 {
    width: 250px;
    height: 50px;
    padding: 2px;
    border: 1px solid red;
    box-sizing: border-box ;
  }
  
  .div2 {
    width: 250px;
    height: 50px;
    padding: 2px;
    border: 1px solid blue;
    box-sizing: content-box;
  }

  .image {
    height: 500px;
  }